.vscode/
.empty/
__pycache__/
wandb/
tensorboard/

src/cuda_ops/build/
src/cuda_ops/cuda_ops.egg-info/
src/cuda_ops/cuda_sparse_ops.egg-info/
src/cuda_ops/dist/

Open3D/
*ipynb*

*.ply
*.pyc
*.png

thirdparty/MinkowskiEngine/MinkowskiEngine.egg-info/
thirdparty/MinkowskiEngine/build/
thirdparty/MinkowskiEngine/dist/

experiments/
sbatch/*.out